.academic__courses__item__title h4 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}


@media screen and (min-width: 768px) {
    .academic__courses__item__title h4 {
        margin-top: .5rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .academic__courses__item__title h4 {
        font-size: 1.2rem;
    }
}