.title__network {
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.025rem;
}

@media screen and (min-width: 1024px) {
    .title__network {
        width: 65%;
    }
}